body {
  color: rgb(245,130,22);
  font-family: arial;
  margin: 0px;
}

div {
  min-height: 50vh;
  width: 50vw;
}

h1, h2 {
  color: rgb(72,188,250);
  text-align: center;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.5em;
}

img {
  display: block;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

p {
  width: 60%;
  margin: 10vh 10vw;
  font-size: 1.5em;
}

a {
  color: rgb(232,187,7);
}

ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size:1.5em;
  display: flex;
  justify-content: space-evenly;
}

li#lower {
  margin-top: 7%
}
li#lowest {
  margin-top: 14%
}

div.contrast {
  background-color: rgb(255, 171, 54);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px;
  transition: 0.6s ease;
}
li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}
